extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img.img-fluid(src="/img/nosotros.jpg", alt="Nosotros")
            .col-md-7
                h1= pagina
                blockquote  In hac habitasse platea dictumst. Vestibulum mattis quam vel luctus dictum. In pellentesque, mi sit amet pharetra feugiat, tortor nisi laoreet quam, vitae rutrum libero lorem at ex. Etiam tincidunt id purus a finibus. Maecenas id volutpat eros, vitae vestibulum lectus. Ut blandit elit non massa suscipit, eget elementum leo consequat. In ut urna pretium, tincidunt ex malesuada, placerat augue.

                p Sed quis auctor elit. Maecenas fringilla luctus condimentum. Nullam at maximus massa. Suspendisse iaculis, est in tempus tincidunt, lectus tellus vestibulum nisi, ut efficitur ante dolor sit amet magna. Cras urna eros, placerat quis ornare et, condimentum vitae diam. 

                p Nulla volutpat tempor malesuada. Praesent at gravida risus, id eleifend odio. Nullam pellentesque, dolor ut ultrices imperdiet, nisl dui hendrerit augue, sit amet facilisis risus nisi ac felis. Ut fringilla iaculis efficitur. Etiam vulputate scelerisque ligula vitae auctor. Sed vel eros ex. Maecenas condimentum, mi eu feugiat varius, leo metus dictum ligula, ut posuere felis risus quis orci. Duis tempus ex id augue pharetra, et pharetra quam blandit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_seguridad.svg", alt="Icono Seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.
                
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_destinos.svg", alt="Icono Destinos")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.
                
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_precio.svg", alt="Icono Precios")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.